:root {
  --text: #475569;
  --text-h: #0F172A;
  --green: #0D9488;
  --bg: #F8FAFC;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  font-family: Manrope, sans-serif;
  

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

