main {
    background-color: var(--bg);
    flex: 1;
    display: flex;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    border-bottom: 1px solid #E2E8F0;
}

.app-brand {
    display: flex;
    align-items: center;
    gap: 12px
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-link {
    display: flex;
    color: var(--text);
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    height: 72px;
}

.nav-link.active {
    color: var(--green);
    border-bottom: 2px solid var(--green)
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.profile-icon {
    background-color: #5478D9;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile-icon-initials {
    color: #FFF;
    font-weight: 600;
}